<div class="row">
  <div class="col-md-6">
	<div class="wrapper">
		<div class="list-group">
		  <li *ngFor="let subject of subjects; let i = index" 
		     class="list-group-item" 
		     [ngClass]="{'active': activeItem == i}"
		     (click)="onClick(i)">
		  	<p class="list-group-item-text">{{subject}}</p>
		  </li>
		</div>
	</div>
  </div>
  <div class="col-md-6">
  	<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
	  	<div class="form-group">
	        <label for="name">Название</label>
	        <textarea class="form-control massage" rows="2" id="name"  name="name" required [(ngModel)]="subjectName"></textarea>
	    </div>
	    <div class="form-group">
	        <label for="name">Текст</label>
	        <textarea class="form-control massage" rows="15" id="text" name="text" required [(ngModel)]="subjectText"></textarea>
	    </div>
	    <input name="target" required [(ngModel)]="targetSubject" hidden>
	    <button type="submit" class="btn btn-default">
      		{{(activeItem !== null) ? 'Изменить' : 'Добавить'}}
    	</button>
    	<button type="button" class="btn btn-default" (click)="Clear()">
      		Сбросить
    	</button>
    	<button type="button" class="btn btn-default" (click)="Delete()">
      		Удалить
    	</button>
	</form>
	</div>
</div>